In [1]:
from sklearn import manifold
import numpy as np
import pandas as pd

In [2]:
cluster = pd.read_csv("p56_Redo/p56.distal.3d.cluster", header=None,names=["Cluster"])
barcodes = pd.read_csv("p56_Redo/p56.xgi", header=None, names=["Barcodes"])
#tsne = pd.read_csv("p56.uniq.bedsort.bed")
df = pd.concat([cluster,barcodes], axis=1)
#df.sort_values(by="Cluster")

In [4]:
df.shape

(1408, 2)

In [5]:
peaks = pd.read_csv("p56_Redo/p56.rep1.bed", sep='\t', header=None, names=["Chr", "Start", "End", "Barcodes"])
peaks.head()

     Chr      Start        End                          Barcodes
0  chr15   87405420   87405615  AGCGATAGAAGAGGCAAAGGAGTACAGGACGT
1  chr11  121621764  121621960  AGCGATAGAAGAGGCAAAGGAGTACAGGACGT
2  chr10   42351275   42351470  AGCGATAGAAGAGGCAAAGGAGTACAGGACGT
3  chr19    7113815    7114010  AGCGATAGAAGAGGCAAAGGAGTACAGGACGT
4   chr8   33278265   33278461  AGCGATAGAAGAGGCAAAGGAGTACAGGACGT

In [26]:
#peaks["Strand"]='+'
#peaks.iloc[1::2, 4] = '-'
#peaks

In [6]:
merged = pd.merge(peaks, df, on="Barcodes")
merged.head()

     Chr     Start       End                          Barcodes  Cluster
0   chr1  53766096  53766291  AGCGATAGAAGAGGCACCTAGAGTTATAGCCT        7
1   chr1  38783808  38784004  AGCGATAGAAGAGGCACCTAGAGTTATAGCCT        7
2   chr3  49031970  49032166  AGCGATAGAAGAGGCACCTAGAGTTATAGCCT        7
3  chr15  28042705  28042901  AGCGATAGAAGAGGCACCTAGAGTTATAGCCT        7
4  chr19   3281423   3281619  AGCGATAGAAGAGGCACCTAGAGTTATAGCCT        7

In [7]:
cluster.max()

Cluster    10
dtype: int64

In [10]:
c1 = merged[merged.Cluster==1]
c1["Strand"] = 0
c2 = merged[merged.Cluster==2]
c2["Strand"] = 0
c3 = merged[merged.Cluster==3]
c3["Strand"] = 0
c4 = merged[merged.Cluster==4]
c4["Strand"] = 0
c5 = merged[merged.Cluster==5]
c5["Strand"] = 0
c6 = merged[merged.Cluster==6]
c6["Strand"] = 0
c7 = merged[merged.Cluster==7]
c7["Strand"] = 0
c8 = merged[merged.Cluster==8]
c8["Strand"] = 0
c9 = merged[merged.Cluster==9]
c9["Strand"] = 0
c10 = merged[merged.Cluster==10]
c10["Strand"] = 0

/home/roman/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/roman/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/home/roman/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/roman/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/roman/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/home/roman/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
/home/roman/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/roman/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/home/roman/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/roman/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [13]:
c10.head()

,Chr,Start,End,Barcodes,Cluster,Strand
405237,chr17,71176695,71176890,AGCGATAGATCTCAGGCCTAGAGTCAGGACGT,10,0
405238,chr11,93632215,93632410,AGCGATAGATCTCAGGCCTAGAGTCAGGACGT,10,0
405239,chr2,163419530,163419726,AGCGATAGATCTCAGGCCTAGAGTCAGGACGT,10,0
405240,chr7,65885411,65885607,AGCGATAGATCTCAGGCCTAGAGTCAGGACGT,10,0
405241,chr7,141195184,141195380,AGCGATAGATCTCAGGCCTAGAGTCAGGACGT,10,0

In [14]:
c1.to_csv("p56_Redo/p56.3d.dbscan.c1.bed", sep='\t', header=False, index=False)
c2.to_csv("p56_Redo/p56.3d.dbscan.c2.bed", sep='\t', header=False, index=False)
c3.to_csv("p56_Redo/p56.3d.dbscan.c3.bed", sep='\t', header=False, index=False)
c4.to_csv("p56_Redo/p56.3d.dbscan.c4.bed", sep='\t', header=False, index=False)
c5.to_csv("p56_Redo/p56.3d.dbscan.c5.bed", sep='\t', header=False, index=False)
c6.to_csv("p56_Redo/p56.3d.dbscan.c6.bed", sep='\t', header=False, index=False)
c7.to_csv("p56_Redo/p56.3d.dbscan.c7.bed", sep='\t', header=False, index=False)
c8.to_csv("p56_Redo/p56.3d.dbscan.c8.bed", sep='\t', header=False, index=False)
c9.to_csv("p56_Redo/p56.3d.dbscan.c9.bed", sep='\t', header=False, index=False)
c10.to_csv("p56_Redo/p56.3d.dbscan.c10.bed", sep='\t', header=False, index=False)

In [4]:
#Make merged bam file for each cluster
df.head()

   Cluster                          Barcodes
0        7  AGCGATAGAAGAGGCACCTAGAGTTATAGCCT
1        3  AGCGATAGAAGAGGCACTAAGCCTCAGGACGT
2        8  AGCGATAGAAGAGGCAGTAAGGAGCAGGACGT
3        9  AGCGATAGAAGAGGCATATCCTCTCCTATCCT
4        2  AGCGATAGAAGAGGCATTATGCGATATAGCCT

In [12]:
k1 = df.loc[(df.Cluster == 1)]

In [41]:
k = {}
for i in range(1,11):
    k["cluster{0}".format(i)] = df.loc[(df.Cluster == i)]
    k["cluster{0}".format(i)]["Path"] = "/home/pds28/Jeewon/sciATAC/20180316_p56_Redo/p56.rep1_tmp/cells/"+k["cluster{0}".format(i)].Barcodes+".sorted.nodup.bam"
    k["cluster{0}".format(i)].Path.to_csv("p56.c{0}.barcodes".format(i), header=False, index=False)

/home/roman/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [ ]:
#in command line

for sample in p56.*.barcodes; do
  samtools merge -r -b ${sample} ${sample%.*}.bam
done
for sample in *.bam; do 
  samtools index ${sample%.*}
  cat ${sample} | bamCoverage --bam ${sample} -o ${sample%.*}.bw --binSize 1 --normalizeUsingRPKM --ignoreForNormalization chrM --numberOfProcessors "max" ;
done

'/home/pds28/Jeewon/sciATAC/20180316_p56_redo/p56.rep1_tmp/cells/AGCGATAGCGTACTAGCGTCTAATATAGAGGC.sorted.nodup.bam'